/* Extra small devices */ 
@media screen and (max-width: 576px) {
    .container-tile {
        width: 300px; 
        height: 300px;
    }

    button {
        font-size: 20px; 
    }

    .control-button {
        width: 300px;
    }

    .control-button > button {
        width: 60px;
    }
}

/* Small devices screen */
@media screen and (min-width: 576px) {
    .container-tile {
        width: 500px;
        height: 500px;
    }

    .control-button {
        width: 500px;
    }
}

/* Medium devices screen */
@media screen and (min-width: 768px) {
    .container-tile {
        width: 600px;
        height: 600px;
    }

    .control-button {
        width: 600px;
    }
}